
* {
  box-sizing: border-box
}
  /* import font from fonts css file */
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  /* custom styles */
  body {
    padding: 4em;
    background:transparent;
    font-family:'EB Garamond', serif;
    font-size:small;
  }
  .container {
    background-color:#fff;
    border-radius:5px;
    color: #003153;
    overflow: hidden;
    max-width: 100%;
    display: block;
  }
  header{
    border-bottom: 1px solid #003153;
    padding:20px 40px;
    display: block;
  }
  .header h2 {
    margin: 0;
  }
  h1,h2,h3{
    font-weight: 800;
    margin: 10px 20px;
    padding: 10px 30px;
  }
  .form {
    box-sizing: border-box;
    padding: 30px 40px;
  }
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    border-radius: 20%;
  }
  .form {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border: 2px solid #355c7d;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    color: #003153;
  }
  .form-control.success input {
    border-color: #2ecc71;
  }
  .form-control.error input {
    border-color: #e74c3c;
  }
  .gender-form.success input {
    border-color: #2ecc71;
  }
  .gender-form.error input {
    border-color: #e74c3c;
  }
  
.form-control i {
position: absolute;
top: 40px;
right: 10px;
visibility: hidden;
}
.btn {
  border: 2px solid;
  content: '';
  border-radius: 20px;
  z-index: -1;
  color: #000;
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.btn btn-primary {
  background: #436b95;
  background-clip: padding-box;
  color:#436b95;
  transition: background .6s ease;
  box-shadow: #201f1f17;
}
.btn btn-primary:hover{
 background: whitesmoke;
 background-clip: padding-box;
 color: black;
}
