
* {
  box-sizing: border-box;
}
  /* import font from fonts css file */
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');
  /* custom styles */
  
  @media screen and (max-width: 768px) {
    .navbar-nav a {
      float: none;
      width: 100%;
    }
  }
  html,body {
    padding: 4em;
    font-family:'EB Garamond', serif;
    color: #8db600;
    margin:0%;
    width:100%;
    height:100%;
  }
  container {
    background-color:#fff;
    border-radius:5px;
    color: #003153;
    overflow: hidden;
    max-width: 50%;
    display: block;
  }
  h1,h2,h3{
    font-weight: 800;
    margin:0;
    padding:0;
    color: #8db600;
  }
  .form-group {
  box-sizing: border-box;
  padding: 30px 40px;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  border: 2px solid grey;
  border-radius: 20px;
  width: 100%;
  font-size: 20px;
  color: #8db600;
  }
.form-control {
  margin: 10px 10px;
  padding: 20px 20px;
  position: relative;
  width: 100%;
  border-radius: 20%;
  }
.btn {
  border: 2px solid;
  content: '';
  border-radius: 20px;
  z-index: -1;
  color: #000;
  display: inline;
  font-family: inherit;
  font-size: 14px;
  width: 40%;
  text-align: center;
}
.btn btn-secondary {
  background: #f5f5dc;
  background-clip: padding-box;
  color:#8db600;
  display: inline;
  transition: background .6s ease;
}
.btn btn-secondary:hover{
 background: whitesmoke;
 background-clip: padding-box;
 color: black;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}