
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  /* import font from fonts css file */
  @import url(./fonts.css);
   /* import fonts*/
  @import url(./partials/variables.css);

  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  /* custom styles */
  body {
    padding: 4em;
    background:transparent;
    font-family:var(--Akaya_Telivigala);
    font-size:small;
  }
  .container {
    background-color:transparent;
    border-radius: 5px;
    color: #003153;
    overflow: hidden;
    max-width: 100%;
    display: block;
  }
  header{
    border-bottom: 1px solid #003153;
    padding:20px 40px;
    display: block;
  }
  .header h2 {
    margin: 0;
  }
  .form {
    box-sizing: border-box;
    padding: 30px 40px;
  }
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    border-radius: 20%;
  }
  .gender-form {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    background-color:transparent;
    border: 2px solid #355c7d;
    border-radius: 20px;
    width: 100%;
    font-family:var(--Akaya_Telivigala);
    font-size: 20px;
    color: #003153;
  }
  .form-control.success input {
    border-color: #2ecc71;
  }
  .form-control.error input {
    border-color: #e74c3c;
  }
  .gender-form.success input {
    border-color: #2ecc71;
  }
  .gender-form.error input {
    border-color: #e74c3c;
  }
  .gender-form i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
  }
  .gender-form small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
.form-control i {
position: absolute;
top: 40px;
right: 10px;
visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color:#2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  color: #87cefa;
  visibility: visible;
}
.form button {
  background-color:#355c7d;
  border: 2px solid;
  content: '';
  border-radius: 20px;
  z-index: -1;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 50%;
  text-align: center;
}
.btn btn-primary {
  background: #436b95;
  background-clip: padding-box;
  color:#436b95;
  transition: background .6s ease;
  box-shadow: #201f1f17;
}
.btn btn-primary:hover{
 background: whitesmoke;
 background-clip: padding-box;
 color: black;
}
.btn btn-primary:after {
  position: absolute;
  top:-2px;left:-2px;
  bottom: -2px; right: -2px;
  background:#355c7d;
  content: '';
  z-index: -1;
  border-radius:20px;
}